.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #f8f8f8;
}

.list_main{
	width: 710rpx;
	padding: 20rpx;
}
.list_title{
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 30rpx;
	margin-left: 40rpx;
}
.list_small_title{
	font-size: 20px;
	margin-left: 40rpx;
}

.highquality_lists_scroll{
	margin: 20rpx 40rpx 20rpx 40rpx;
	width: 630rpx;
	height: 355rpx;
}
.highquality_lists{
	display: flex;
	flex-direction: row;
	margin-top: 15rpx;
}
.highquality_list{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20rpx;
	margin-right: 20rpx;
	background-color: white;
	justify-content: center;
}
.highquality_list image{
	width: 260rpx;
	height: 260rpx;
	border-radius: 15rpx;
}
.highquality_list_name{
	margin-top: 10rpx;
	margin-bottom: 10rpx;
	width: 230rpx;
	font-size: 27rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
swiper{
	margin: 0px 40rpx 0px 40rpx;
	margin-bottom: 30rpx;
	height: 250rpx;
}
.swiper_img{
	border-radius: 15rpx;
	width: 630rpx;
	height: 250rpx;
}

.search_bar{
	height: 80rpx;
	width: 630rpx;
	background-color: white;
	margin-left: 30rpx;
	margin-bottom: 30rpx;
	border-radius: 40rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 20rpx;
}
.search_area{
	height: 110rpx;
}
.shearch_fixed{
	position: fixed;
	z-index: 22;
	margin-left: 50rpx;
	box-shadow: 0px 0px 20px #00000020;
}